/*h1, h2, h3 {*/
* {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  /*min-height: 100vh;*/
  flex-direction: column;
  background-color: whitesmoke;
}

main {
  min-height: 80vh;
  flex: 1 0 auto;
}

div {
  border-style: 1px solid red;
}


.nav-wrapper {
  background-color: #23395B;
}

.btn {
  background-color: #23395B;
}

.green {
  background-color: green;
}

.page-footer, .footer-copyright {
  /*background-color: #031927;*/
  background-color: darkslategrey;
}

.eventRegBtn, .regBtn {
  background-color: green;
}

.parallax-container {
  height: 400px;
}

.event-img {
  display: block;
  /*max-width:230px;*/
  max-height:350px;
  width: 100%;
  height: auto;
  object-fit: cover;

}
