/*h1, h2, h3 {*/
* {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 }

main {
  min-height: 100vh;
  flex: 1 0 auto;
}

div {
  border-style: 1px solid red;
}

.nav-wrapper {
  background-color: #BA1200;
}

.btn {
  background-color: #031927;
}

.page-footer, .footer-copyright {
  /*background-color: #031927;*/
  background-color: darkslategrey;
}

.eventRegBtn, .regBtn {
  background-color: green;
}
