<navigation></navigation>

<main class='container'>
  <div class='row'>
    <h3 class='center-align'>My Account</h3>
  </div>

  <div class='row'>
    <form ng-submit='$ctrl.editProfile()'>
      <div class='row'>
        <div class="input-field col s12 m6 offset-m3">
          <input id="first_name" type="text" class="validate" ng-model='$ctrl.form.first_name'>
          <label for="first_name">First Name</label>
        </div>
      </div>

      <div class='row'>
        <div class="input-field col s12 m6 offset-m3">
          <input id="last_name" type="text" class="validate" ng-model='$ctrl.form.last_name'>
          <label for="last_name">Last Name</label>
        </div>
      </div>



      <div class='row'>
        <div class="input-field col s12 m6 offset-m3">
          <input id="email" type="email" class="validate" ng-model='$ctrl.form.email'>
          <label for="email">Contact/login Email</label>
        </div>
      </div>

      <div class='row'>
        <div class="input-field col s12 m6 offset-m3">
          <input id="paypal_email" type="email" class="validate" ng-model='$ctrl.form.paypal_email'>
          <label for="paypal_email">PayPal Email</label>
        </div>
      </div>

      <div class='row'>
        <div class="input-field col s12 m6 offset-m3">
          <input id="password" type="password" class="validate" ng-model='$ctrl.form.password'>
          <label for="password">New Password</label>
        </div>
      </div>

      <div class='row'>
        <div class="input-field col s12 m6 offset-m3">
          <input id="vpassword" type="password" class="validate" ng-model='$ctrl.form.password'>
          <label for="vpassword">Confirm New Password</label>
        </div>
      </div>

      <div class='row center-align'>
        <button class="btn waves-effect waves-light" type="submit" name="submit">Save Changes</button>
      </div>
    </form>
  </div>




</main>

<footerbar></footerbar>
