<navigation></navigation>

<main class='container'>
  <div class="row">
    <h3 class='center-align'>My Events</h3>
  </div>

  <div class='row center-align' ng-show='$ctrl.myEvents.length === 0'>
    <p> You haven't created any events yet! Click "Create Event" to get started.</p>
  </div>

  <div class='row' ng-show='$ctrl.myEvents.length > 0'>
    <table class='bordered highlight'>

      <thead>
        <tr>
          <td>Title</td>
          <td>Date</td>
          <td>Registered Athletes</td>
          <td>Actions</td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat='event in $ctrl.myEvents | orderBy: start_date'>
          <td>{{ event.title }}</td>
          <td> {{ event.start_date | date: 'MMM d, yyyy' }}<span ng-if='event.start_date !== event.end_date'> - {{ event.end_date | date: 'MMM d, yyyy' }}</span></td>
          <td> {{ event.numAthletes }}</td>
          <td><a ui-sref='manageEvent({ event_id: event.id })'>View/Manage</a></td>
        </tr>
      </tbody>

    </table>

  </div>


  <div class='row'>
    <div class='col s12 center-align'>
      <a class="waves-effect waves-light btn-large center" ui-sref='createEvent'><i class="medium material-icons left">add</i> Create Event</a>
    </div>
  </div>


</main>
<footerbar></footerbar>
