<navigation></navigation>

<main class='container'>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card">
        <div class="card-image">
          <img src="/images/hpg_platform.jpg" class='regPhoto'>
        </div>
        <div class="card-content">
          <div class='row'>
          <div class="col s12 m6">

            <h4> {{ $ctrl.event.title }} </h4>
            <h5> {{ $ctrl.event.start_date | date: 'EEEE, MMMM d, yyyy'}}<span ng-if='$ctrl.event.start_date !== $ctrl.event.end_date'> - <p>{{ $ctrl.event.end_date | date: 'EEEE, MMMM d, yyyy' }}</p></span></h5>
            <p> {{ $ctrl.event.street_address }}</p>
            <p> {{ $ctrl.event.city }}, {{ $ctrl.event.state }} {{ $ctrl.event.zip_code}} </p>
          </div>

          <div class='col s12 m6 right-align'>
            <h5>{{ ($ctrl.event.entry_fee_cents / 100) | currency : '$' }}</h5>
            <a class="waves-effect waves-light btn-large green
            " ng-click='regBtnClicked=!regBtnClicked' href='#regForm'>{{ regBtnClicked ? 'Cancel' : 'Register' }}</a>
          </div>
        </div>
      </div>
        <div class="card-action">
          <p>
            {{ $ctrl.event.description }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="regBtnClicked" class='container'>

    <div class='row' id='regForm'>
      <div class='col s12'>
        <h4 class='center-align'>Athlete Registration Form</h4>
      </div>
    </div>

    <div class='row'>
    <div class='col s12 m8 offset-m2'>
      <form ng-submit="$ctrl.register()">

        <div class='row'>
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model='$ctrl.tempReg.email'>
            <label for="email">Email</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="first_name" type="text" class="validate" ng-model='$ctrl.tempReg.first_name'>
            <label for="first_name">First Name</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="last_name" type="text" class="validate" ng-model='$ctrl.tempReg.last_name'>
            <label for="last_name">Last Name</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="usaw_id" type="text" class="validate" ng-model='$ctrl.tempReg.usaw_id'>
            <label for="usaw_id">USAW Member ID</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s7">
            <input id="year_of_birth" type="text" class="validate" ng-model='$ctrl.tempReg.year_of_birth' ng-change='$ctrl.getCategories()'>
            <label for="year_of_birth">Year of Birth</label>
          </div>

          <div class='col s5'>
            <p>
              <input class="with-gap" name="gender" type="radio" id="female" value='female' ng-model='$ctrl.tempReg.gender' ng-change="$ctrl.getCategories()" />
              <label for="female">Female</label>
            </p>
            <p>
              <input class='with-gap' name="gender" type="radio" id="male" value='male'
              ng-model='$ctrl.tempReg.gender'
              ng-change="$ctrl.getCategories()"/>
              <label for="male">Male</label>
            </p>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="club" type="text" class="validate" ng-model='$ctrl.tempReg.club'>
            <label for="club">Club</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="coach" type="text" class="validate" ng-model='$ctrl.tempReg.coach'>
            <label for="coach">Coach</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <select material-select watch ng-model='$ctrl.tempPost.category'
            ng-options="category as category.category for category in $ctrl.categories">
            </select>
            <label>Category</label>
          </div>
        </div>

        <div class='row'>
            <div class="input-field col s12">
              <input id="entry_total" type="text" class="validate" ng-model='$ctrl.tempReg.entry_total'>
              <label for="entry_total">Entry total (kg)</label>
            </div>
        </div>

        <div class='row'>
          <h5>Total due: {{ ($ctrl.event.entry_fee_cents / 100) | currency: '$'}} (non-refundable)</h5>
        </div>

        <div class='row center-align' >
          <button class="btn waves-effect waves-light btn-large green" type="submit" name="action">Register</button>
        </div>

      </form>
    </div>
  </div>

  </div>

</main>


<footerbar></footerbar>
