<navigation></navigation>

<main class='container'>

  <div class="row">
    <div class='col s12 img-container'>
        <img ng-src='{{ $ctrl.event.image_url }}'>
    </div>
  </div>

  <div class='row'>
      <div class="col s12">
        <div class="card-panel">

          <div class='row'>
            <div class='col s12 m6'>
              <h4>{{ $ctrl.event.start_date | amDateFormat: 'MMM D' }}<span ng-if='$ctrl.event.start_date !== $ctrl.event.end_date'> - {{ $ctrl.event.end_date | amDateFormat: 'MMM D'}}</span></h4>
              <h4> {{ $ctrl.event.title }} </h4>
              <p>Hosted by: {{ $ctrl.event.organizer }} ({{ $ctrl.event.email }})</p>
              <p>Sanction ID: {{ $ctrl.event.sanction_id }}</p>
            </div>

            <div class='col s12 m6'>
              <p><i class="material-icons">date_range</i> {{ $ctrl.event.start_date | date: 'fullDate' }}<span ng-if='$ctrl.event.start_date !== $ctrl.event.end_date'> - {{ $ctrl.event.end_date | date: 'fullDate'}}</span></p>

              <p><i class='material-icons'>location_on</i> {{ $ctrl.event.street_address}}
              {{ $ctrl.event.city }}, {{ $ctrl.event.state }}, {{ $ctrl.event.zip_code }}</p>

              <p ng-show='$ctrl.event.registration_open'><a class="waves-effect waves-light btn green wide" ng-click='regBtnClicked = !regBtnClicked' href='#regform'>Register</a></p>

              <p ng-if='!$ctrl.event.registration_open'><a class="waves-effect waves-light btn wide" ng-click='regBtnClicked = !regBtnClicked' disabled>Registration Closed</a></p>

              <p ng-show='$ctrl.sessions.length > 0'>
                <a class="waves-effect waves-light btn wide" href='#sessions'>View Session Info</a>
              </p>

            </div>

          </div>



        </div>
      </div>
  </div>

  <div class='row'>
    <div class="col s12">
      <div class="card-panel">
        <h4>Event Description</h4>
        <p ng-repeat="paragraph in $ctrl.descriptionDisplay">{{ paragraph }}</p>

      </div>
    </div>
  </div>

  <div class='row' ng-show='$ctrl.sessions.length > 0' id='sessions'>
    <div class="col s12">
      <div class="card-panel">
        <h4>Sessions</h4>

        <table class='bordered striped'>

          <thead>
            <tr>
              <td>Description</td>
              <td>Date</td>
              <td>Weigh-in Time</td>
              <td>Start Time</td>
              <td># Athletes</td>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat='session in $ctrl.sessions | orderBy: weigh_time'>
              <td>{{ session.description }}</td>
              <td> {{ session.date | date: 'MM-dd-yy' }} </td>
              <td> {{ session.weigh_time | date: 'h:mma' }} </td>
              <td> {{ session.start_time | date: 'h:mma' }} </td>
              <td> {{ session.numAthletes }} </td>

            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>

  <div ng-if="regBtnClicked" class='container'>

    <div class='row' id='regform'>
      <div class='col s12'>
        <h4 class='center-align'>Athlete Registration Form</h4>
      </div>
    </div>

    <div class='row'>
    <div class='col s12 m8 offset-m2'>
      <form ng-submit="$ctrl.register()">

        <div class='row'>
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model='$ctrl.tempReg.email'>
            <label for="email">Email</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="first_name" type="text" class="validate" ng-model='$ctrl.tempReg.first_name'>
            <label for="first_name">First Name</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="last_name" type="text" class="validate" ng-model='$ctrl.tempReg.last_name'>
            <label for="last_name">Last Name</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="usaw_id" type="text" class="validate" ng-model='$ctrl.tempReg.usaw_id'>
            <label for="usaw_id">USAW Member ID</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s7">
            <input id="year_of_birth" type="text" class="validate" ng-model='$ctrl.tempReg.year_of_birth' ng-change='$ctrl.getCategories()'>
            <label for="year_of_birth">Year of Birth</label>
          </div>

          <div class='col s5'>
            <p>
              <input class="with-gap" name="gender" type="radio" id="female" value='female' ng-model='$ctrl.tempReg.gender' ng-change="$ctrl.getCategories()" />
              <label for="female">Female</label>
            </p>
            <p>
              <input class='with-gap' name="gender" type="radio" id="male" value='male'
              ng-model='$ctrl.tempReg.gender'
              ng-change="$ctrl.getCategories()"/>
              <label for="male">Male</label>
            </p>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="club" type="text" class="validate" ng-model='$ctrl.tempReg.club'>
            <label for="club">Club</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <input id="coach" type="text" class="validate" ng-model='$ctrl.tempReg.coach'>
            <label for="coach">Coach</label>
          </div>
        </div>

        <div class='row'>
          <div class="input-field col s12">
            <select material-select watch ng-model='$ctrl.tempReg.category'
            ng-options="category as category.category for category in $ctrl.categories">
            </select>
            <label>Category</label>
          </div>
        </div>

        <div class='row'>
            <div class="input-field col s12">
              <input id="entry_total" type="text" class="validate" ng-model='$ctrl.tempReg.entry_total'>
              <label for="entry_total">Entry total (kg)</label>
            </div>
        </div>

        <div class='row'>
          <h5>Total due: {{ ($ctrl.event.entry_fee_cents / 100) | currency: '$'}} (non-refundable)</h5>
        </div>

        <div class='row center-align' >
          <button class="btn waves-effect waves-light btn-large green" type="submit" name="action">Register</button>
        </div>

      </form>
    </div>
  </div>

  </div>

</main>


<footerbar></footerbar>
