<navigation></navigation>


<main class='container'>

  <h3 class='center-align'>All Events</h3>

  <table class='bordered highlight'>

    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody ng-repeat='event in $ctrl.events | orderBy: date'>
      <tr>
        <td>{{ event.title }}</td>
        <td> {{ event.start_date | date: 'MM/dd/yyyy' }}<span ng-if='event.start_date !== event.end_date'> - {{ event.end_date | date: 'MM/dd/yyyy' }}</span></td>
        <td>{{ event.city }}, {{ event.state }}</td>
        <td><a ui-sref='eventReg({ event_id: event.id })'>Register</a></td>
      </tr>
    </tbody>

  </table>

</main>

<footerbar></footerbar>
