<navigation></navigation>


<main class='container'>

  <div class="row">
    <h3 class='center-align'>All Events</h3>
  </div>


  <div class='row'>
    <div class="input-field col s6 m4">
      <input placeholder="search" ng-model='filterInput' name="filterInput" type="search">
    </div>

    <div class='input-field col s6 m4'>
      <select name='sort' ng-model='$ctrl.sortSelected' material-select watch>
        <option value='start_date'>sort by date</option>
        <option value='title'>sort by title</option>
        <option value='city'>sort by city</option>
      </select>
    </div>
  </div>


  <div class='row'>
    <table class='bordered highlight'>

      <thead>
        <tr>
          <td>Title</td>
          <td>Date</td>
          <td>Location</td>
          <td class='center-align'>Registration status</td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat='event in $ctrl.events | orderBy: $ctrl.sortSelected | filter: filterInput'>

            <td><a ui-sref='eventReg({ event_id: event.id })'>{{ event.title }}</a></td>
            <td> {{ event.start_date | date: 'MMM d, yyyy' }}<span ng-if='event.start_date !== event.end_date'> - {{ event.end_date | date: 'MMM d, yyyy' }}</span></td>
            <td>{{ event.city }}, {{ event.state }}</td>
            <td class='center-align'>{{ event.registration_open ? 'Open' : 'Closed' }}</td>

        </tr>
      </tbody>

    </table>
  </div>

</main>

<footerbar></footerbar>
