<script>
$(document).ready(function () {
       $(".button-collapse").sideNav();
   });
</script>

<header>
  <nav>
    <div class="nav-wrapper">
      <a ui-sref='splash' class="brand-logo">MeetRunner</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref='allEvents'>Browse Events</a></li>
        <span ng-if='$ctrl.getSession().id'>
          <li><a ui-sref='myEvents({ user_id: $ctrl.getSession().id })'>My Events</a></li>
          <li><a ui-sref='profile({ user_id: $ctrl.getSession().id })'>My Account</a></li>
          <li><a href='#' ng-click='$ctrl.logout()'>Logout</a></li>
        </span>
        <span ng-if="!$ctrl.getSession().id">
          <li><a ui-sref='loginReg'>Login</a></li>
        </span>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref='allEvents'>Browse Events</a></li>
        <span ng-if='$ctrl.getSession().id'>
          <li><a ui-sref='myEvents({ user_id: $ctrl.getSession().id })'>My Events</a></li>
          <li><a ui-sref='profile({ user_id: $ctrl.getSession().id })'>My Account</a></li>
          <li><a href='#' ng-click='$ctrl.logout()'>Logout</a></li>
        </span>

        <span ng-if="!$ctrl.getSession().id">
          <li><a ui-sref='loginReg'>Login</a></li>
        </span>
      </ul>
    </div>
  </nav>
</header>
